/* css for about us page*/
.photo {
  display: flex
  padding:30px;
  margin:0 auto;
  border-radius: 200px};
}

.bio{
  text-align: center;
}

.bio-container{
  text-align: center;
  justify-content: center;
  padding: 120px;
}

.name{
  font-size: 1.35em;
}

.role{
  font-size: 1.05em;
}

.about-us {
  text-align: center;
  font-size: 1.3em;
  line-height: 2.3;
  padding: 120px;
  border-style: groove;
  border-color: rgba(66, 244, 229, 0.5);
  border-bottom: none;
 
}

.care-aims {
  text-align: center;
  font-size: 2em;
  padding: 150px;
  border-color: rgba(66, 244, 229, 0.5);
  border-style: groove;
}


.about-us, .care-aims{
border-right: none;
border-left: none;
}