body {font-family: Courier;
background-image: url(file:///Users/daniellaskinner/Documents/code/CFG/Therapy%20site/dots.jpg) opacity:0.3;
background-repeat: no-repeat;
background-size: cover;}


h1 {display: block;
text-align: center;}

h2 {display: block;
text-align: center;}

.topnav {color: black;
text-align: center;
padding: 20px;}

.socialmedia {
width: 80px;
padding: 10px;
border-style: dashed;
border-color: rgb(150,150,200,0.75);
flex-direction: row-reverse;
border-radius: 40px 40px 40px 40px;
}

.icon {
	justify-content: center;
	display: flex;
}

.button { size: 200px; }

.col-sm {padding: 20px;
text-align: center;
}

.border-outline {
	border-style: solid;
	border-width: 5px;
  	border-color: rgb(244, 188, 66, 0.5);
}

.image_scroll {height: auto;
width:100%;}