body {
  font-family: 'Josefin Sans', sans-serif;;
  background-image: url(file:///Users/daniellaskinner/Documents/code/CFG/Therapy%20site/dots.jpg) opacity:0.3;
  background-repeat: no-repeat;
  background-size: cover;
}


h1 {
  display: block;
  text-align: center;
}

h3 {
  display: block;
  text-align: center;
}

h4{
  margin-left: 18px;
}

li{
  margin: 0 20px;
}

p{margin: 0 20px;
  padding: 10px;
}


#top{
  margin: 5px 50px 10px 5px;
}

h2{
  font-size: 2.5em;
}

button{
  color: 
  border-color: rgb(244, 188, 66, 0.5);
  background-color: rgba(66, 244, 229, 0.5);
}

/* .input{
  box-shadow: rgb(244, 188, 66);
}
*/


.topnav {
  color: black;
  text-align: center;
  padding: 20px;
}

.navbar-brand{
  align-items: left;
}

.socialMedia {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin: auto;
  max-width:100%;
  height: 50px;
}


.socialButton{
  width: 40px;
  height: 40px;
  max-width:100%;
  height: auto;
  object-fit: contain;
}

.socialButton:hover{
  width: 55px;
  height: 55px;
  transition 0.6s ease;
}

/*CAROUSEL STYLING*/


.image_scroll {
  height: auto;
  width:100%;
}

.carousel-inner{

}

.carousel-item

/*TRY TO GET THE NAVBAR BUTTONS TO ENLARGE ON HOVERING
.enlarge {
  transition: 0.6s ease;
}

.enlarge:hover{font-size: 1.2em;
transition: 0.6s ease;}
*/


.col-sm {
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.border-outline {
	border-style: solid;
	border-width: 5px;
  border-color: rgb(244, 188, 66, 0.5);
}

.bd-example{
  max-height: 100%;
  max-width: 100%;

}

.grid{
  background-color: pink;
  width: 30%;
  margin: 1.66%;
  float: left;

}

.image{
  width: 100px;
}


/*Styling for drop down headers of different aspects of site*/
/* Dropdown Button */


/*get rid of box shadow if don't want teal glow*/
.dropbtn {
  background-color: white;
  color: black;
  padding: 17px;
  font-size: 16px;
  border: none;
  float: left;
  border-radius: 70px 100px 70px 100px;
}

/* Change color of navbar buttons/links on hover
.dropbtn:hover {
  background-color: rgba(66, 244, 229, 0.5);
  box-shadow: 0px 8px 16px 0px rgba(66, 244, 229, 0.5);
  }
*/

/* Change color of navbar titles/links on hover */
.dropbtn:hover {
  color: rgba(66, 244, 229);
  }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 133px;
  box-shadow: 0px 8px 16px 0px rgba(66, 244, 229, 0.5);
  z-index: 1;
  border-radius: 25px;
  border: 2px;
  padding: 5px; 
  width: 133px;
  height: 185px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: rgba(66, 244, 229);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgba(66, 244, 229, 0.5);
}

a{
  color:black;
}

.navigationFun{
  display: flex;
  flex:3;
  justify-content: space-around;
  padding: 10px;
}

.container-border-outline{
  font-size: 50px;  
}


/* css for about us page*/
.photo {
  display: flex
  padding:30px;
  margin:0 auto;
  border-radius: 200px};
}

.bio{
  text-align: center;
}

.bio-container{
  text-align: center;
  justify-content: center;
  padding: 120px;
}

.name{
  font-size: 1.35em;
}

.role{
  font-size: 1.05em;
}

.about-us {
  text-align: center;
  font-size: 1.3em;
  line-height: 2.3;
  padding: 120px;
  border-style: groove;
  border-color: rgba(66, 244, 229, 0.5);
  border-bottom: none;
 
}

.care-aims {
  text-align: center;
  font-size: 2em;
  padding: 150px;
  border-color: rgba(66, 244, 229, 0.5);
  border-style: groove;
}


.about-us, .care-aims{
border-right: none;
border-left: none;
}

/* HOW TO BOLD SOME OF THE WORDS IN THE ABOUT US BLURB???? */
.highlight {
  font-weight: bold;
  color: rgba(66, 244, 229);
}

.carousel-inner {
  font-size: 1.8em;
  text-align: center;
  padding: 3px;
}

#carouselExampleFade {
background-size: 100px 100px;
background-color: rgba(66, 244, 229, 0.5);
padding: 150px;
}

/* css for SLT page */
.SLT-PIC {
  width: 100%;
  height: auto;
  max-width: 100%%;
  padding: 1px;
}

#sltBlurb{
  padding:30px;
}

/* css for contact us page */

#contactForm{
  padding: 70px;
}

.contact_form {
}

